<header>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/javascript">
if (window.MathJax) {
  MathJax.Hub.Queue(
    ["Typeset",MathJax.Hub]
  );
}
</script>
</header>
{% if include.text %}
  {% capture desc %}
{{ include.text | strip_newlines }}
{:.message}
  {% endcapture %}
  {{ desc | markdownify }}
{% else %}
  <div class="hr" style="padding-bottom:0"></div>
{% endif %}
